<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById('convenioForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Evita que el formulario se envíe de forma predeterminada
    
            var formData = {};
            // Obtener el estado de cada checkbox y almacenar los valores en formData
            document.querySelectorAll('input[type="checkbox"]').forEach(function(checkbox) {
                formData[checkbox.value] = checkbox.checked;
            });
    
            // Enviar formData al backend usando fetch o AJAX
            fetch('/guardar_convenios/', {
                method: 'POST',
                body: JSON.stringify(formData),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                // Manejar la respuesta del servidor si es necesario
                console.log(response);
            }).catch(error => {
                console.error('Error:', error);
            });
        });
    });
    </script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        
        var requiereBannerSi = document.getElementById("flexRadioDefault3");
        var camposBanner = document.getElementById("campos-banner");

        
        requiereBannerSi.addEventListener("change", function() {
            
            if (requiereBannerSi.checked) {
                camposBanner.style.display = "block";
            } else {
                camposBanner.style.display = "none";
            }
        });

        var requiereBannerNo = document.getElementById("flexRadioDefault4");
        
        requiereBannerNo.addEventListener("change", function() {
            
            if (requiereBannerNo.checked) {
                camposBanner.style.display = "none";
            }
        });
    });
</script>


<script>
  document.addEventListener("DOMContentLoaded", function() {
    var requiereContraseñaSi = document.getElementById("flexRadioDefault1");
    var camposContraseña = document.querySelectorAll(".campos-contraseña");
    var contraseñaInput = document.getElementById("contraseña");
    var confirmarContraseñaInput = document.getElementById("confirmarContraseña");
    var mensajeError = document.getElementById("mensajeError");

    requiereContraseñaSi.addEventListener("change", function() {
        if (requiereContraseñaSi.checked) {
            camposContraseña.forEach(function(elemento) {
                elemento.style.display = "block";
            });
        } else {
            camposContraseña.forEach(function(elemento) {
                elemento.style.display = "none";
            });
        }
    });

    var requiereContraseñaNo = document.getElementById("flexRadioDefault2");

    requiereContraseñaNo.addEventListener("change", function() {
        if (requiereContraseñaNo.checked) {
            camposContraseña.forEach(function(elemento) {
                elemento.style.display = "none";
            });
            mensajeError.style.display = "none";
        }
    });

    
});
</script>
<script>
    function checkPasswordMatch() {
        var password = document.getElementById("contraseña").value;
        var confirmPassword = document.getElementById("confirmarContraseña").value;
        var errorMensaje = document.getElementById("mensajeError");

        if (password !== confirmPassword) {
            errorMensaje.style.display = "block";
            return false; // No coinciden
        } else {
            errorMensaje.style.display = "none";
            return true; // Coinciden
        }
    }

    function submitForm() {
        if (!checkPasswordMatch()) {
            
            return false;
        }
        
        return true;
    }
</script>



<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="d-flex justify-content-between align-items-center mt-5">
                    <h2 class="mb-0">Formulario Creación Instancia</h2>
                    <a href="{% url 'home' %}" class="btn btn-primary">Atrás</a>
                </div>
            <br>
            <br>
            
            

            <form onsubmit="return submitForm()" action="{% url 'crear_instancia' %}" method="POST" enctype="multipart/form-data" id="convenioForm">
                    {% csrf_token %}
                <fieldset style="border: 1px solid #bbbaba; padding: 10px;"> 
                    <legend><b>Razón Social</b></legend>  
                    <div class="form-group">
                        <input type="text" class="form-control" id="nombre" name="nombre"> 
                    </div>  
                </fieldset>   
                <br>

                <fieldset style="border: 1px solid #bbbaba; padding: 10px;">
                    <legend><b>Seleccione tipos de certificado</b></legend>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="certificado persona natural" value="form-pers-nat.html" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Certificado Persona Natural
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="certificado persona Juridica" value="form-pers-jur.html" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Certificado Persona Jurídica 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="certificado Pertenecia Empresa" value="form-pert-emp.html" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Certificado Pertenecia a Empresa
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="certificado  Comunidad Académica" value="form-com-acad.html" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Certificado Comunidada Académica
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="certificado funcion Publica SIIF Nación" value="form-siif-nac.html" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Certificado Función Publica SIIF Nación
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="certificado Profesional Titulado" value="form-prof-titu.html" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Certificado Profesional Titulado 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="certificado persona natural con rut" value="form-per-nat-rut.html" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Certificado Persona Natural Con RUT
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="certificado fact. elec. persona Juridica" value="form-fe-pj.html" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Certificado Facturacion Electronica Persona JurÍdica
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="certificado fact. elec. persona natural" value="form-fe-pn.html" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Certificado Facturacion Electronica Persona Natural 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="certificado funcion Publica" value="form-func-pub.html" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Certificado Funcion Publica
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="certificado Representante Legal" value="form-rep-leg.html" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Certificado Representante Legal
                            </label>
                        </div>
                    </div>
                </fieldset>
                <br>
                <br>
                <fieldset style="border: 1px solid #bbbaba; padding: 10px;">
                    <legend><b>Seleccione Operaciones De certificado</b></legend>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Consultar Certificado 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Revocar Certificado  
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Cambiar Pin
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Reposición Certificado Pertenencia Empresa ó Rep. Legal
                            </label>
                        </div>
                    </div>
                </fieldset>
               <br>
               <fieldset style="border: 1px solid #bbbaba; padding: 10px;">
                <legend><b>Seleccione Operaciones De Firmado</b></legend>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Firmar Documento
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Verificar Firma  
                        </label>
                    </div>
                </div>
            </fieldset>
            <br>
            <fieldset style="border: 1px solid #bbbaba; padding: 10px;">
                <legend><b>Seleccione Operaciones De OTP</b></legend>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Cambiar Tiempo OTP
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Firmar con OTP 
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Invalidar OTP  
                        </label>
                    </div>
                </div>
            </fieldset>
            <br>
            <fieldset style="border: 1px solid #bbbaba; padding: 10px;">
            <legend><b>Seleccione Vigencia Del Certificado</b></legend>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            1 Día
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            1 Mes  
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            3 Meses
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            6 Meses  
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            1 Año
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            18 Meses  
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            2 Años
                        </label>
                    </div>
                </div>
            </fieldset>
            <br>
            <fieldset style="border: 1px solid #bbbaba; padding: 10px;">
                <legend><b>Seleccione Formato De Entrega</b></legend>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Token Virtual
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Token Físico  
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            PKCS10  
                        </label>
                    </div>
                </div>
            </fieldset>
            <br>
              <div class="form-group">
                <label for="logo"><b>Cargar Logo de la Empresa:</b></label>
                <input type="file" class="form-control-file" id="logo" name="logo" accept="image/*">
              </div>
              <div class="form-group">
                <label for="requiereBanner"><b>¿Requiere Banner Corporativo?</b></label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadio" id="flexRadioDefault3">
                    <label class="form-check-label" for="flexRadioDefault3">
                        Sí
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadio" id="flexRadioDefault4" checked>
                    <label class="form-check-label" for="flexRadioDefault4">
                        no
                    </label>
                </div>
            </div>
            
            <div id="campos-banner" class="form-group" style="display: none;">
                <div class="form-group campos-banner">
                    <label for="imagenBanner"><b>Cargar Banner Corporativo:</b></label>
                    <input type="file" class="form-control-file" id="imagenBanner" name="imagenBanner">
                </div>
            </div>
            
            
              <div class="form-group">
                <label for="colorPrimario"><b>Color Primario:</b></label>
                <input type="color" class="form-control" id="colorPrimario" name="colorPrimario">
              </div>
              <div class="form-group">
                <label for="colorSecundario"><b>Color Secundario:</b></label>
                <input type="color" class="form-control" id="colorSecundario" name="colorSecundario">
              </div>
              <fieldset style="border: 1px solid #bbbaba; padding: 10px;">
              <div class="form-group">
                <label for="requiereContraseña"><b>¿Requiere Contraseña de Autenticación?</b></label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">

                    <label class="form-check-label" for="flexRadioDefault1">
                      Sí
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                      no
                    </label>
                  </div>
              </div>
            </fieldset>
            <div class="form-group campos-contraseña" style="display: none;">
                <label for="contraseña"><b>Contraseña:</b></label>
                <input type="password" class="form-control" id="contraseña" name="contraseña">
            </div>
            <div class="form-group campos-contraseña" style="display: none;">
                <label for="confirmarContraseña"><b>Confirmar Contraseña:</b></label>
                <input type="password" class="form-control" id="confirmarContraseña" name="confirmarContraseña" onkeyup="checkPasswordMatch()">
                <div id="mensajeError" style="display: none; color: red;">Las contraseñas no coinciden</div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
          </div>
        </div>
      </div>
      


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>