.row{
    margin: 10px;
    margin-left: 5px;
}
.col-2{
    margin-left: 20px;
}

#cont-principal{
    height: 500px;
    background-color: #ffffff;
    color: black;
    font-size: 20px;
    margin-top: 50px;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
#btn-ingreso{
    margin-top: 10px;
     
}
#logo{
    margin-left: 5px;
}
#usuario{
    border-radius: 10px;
}
#contraseña{
    border-radius: 10px;
}